{% extends "./base.html" %} 


{% block template %}

<div class="jumbotron text-center p-3">
  <h1 class="display-4">Welcome To Onine Bus Reservation System</h1>
  <p class="lead"> Butuh Layanan Sewa Bus Pariwisata dengan harga kompetitif ? Anda telah berada di website yang tepat. Ibistrans merupakan perusahaan jasa transportasi khusus angkutan wisata yang menyediakan varian bus sesuai dengan kebutuhan
    perjalanan anda. Kami memberikan paket layanan sewa bus murah yang siap melayani perjalanan wisata dalam dan luar kota dengan armada terbaik aman nyaman dan menyenangkan. Layanan transportasi wisata merupakan passion kami selama lebih
    dari 12 tahun. Perjalanan panjang dan pengalaman tersebut menjadi modal berharga untuk senantiasa meningkatkan kualitas layanan. Sebagai penyedia layanan transportasi angkutan wisata, kami senantiasa memberikan armada terbaik untuk
    setiap customer. Penyediaan unit bus sesuai dengan kebutuhan diiringi performa kendaraan prima senantiasa menjadi tujuan kami sekaligus upaya menjamin keamanan dan keselamatan setiap perjalanan. Bus pariwisata adalah kendaraan yang
    memiliki kapasitas dan daya angkut besar sebagai sarana transportasi ideal menuju tempat tertentu bersama rombongan. Ibistrans.com sebagai perusahaan transportasi dengan dedikasi dan profesionalisme tinggi, sepenuh hati berusaha
    memberikan opsi menarik yang dapat anda manfaatkan saat hendak bepergian.</p>
  <hr class="my-4">
</div>

  {% endblock%}


