{% extends "./base.html" %} {% block title%} Login {% endblock %} {% block template %}
<!-- content -->
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="row bg-light w-50 p-5">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
